.root {
}
.slider{
    margin-top: 2rem;
    -webkit-appearance: none;
    width: 80%;
    height: 20px;
    background: linear-gradient(90deg, rgb(214,214,214) 60%, rgb(214, 214, 214) 60%);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 12px;
    box-shadow: 0px 1px 10px 1px black;
}
.slider:hover {
    opacity: 1;
}

p{
    margin-top: 50px;
    opacity: 0.7;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    cursor: pointer;
}
